.navbar-brand{
    display: block;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 5px;
    width: 200px;
    text-align: center;
}

body{
    background-image: url("images/oriental.png");
    margin:20px;
}

.media, .background, .contact, .contain{
    background-color: whitesmoke;
    padding: 20px;
}

.col-sm-9 > h1{
    padding-left: 20px;
}

.img-fluid {
    max-width: 200px;
    height: auto;
  }

footer{
    display: block;
    background: white;
    text-align: center;
    height: auto;
    min-height: 40px;
    margin-top: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ) );
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #f2f2f2;
    height: auto;
    width:100%;
    max-width: 920px;
    padding-top: 10px;
    border-radius: 4px; 
}